*{
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 50px;
  width: 100vw;
  background-color: #f3f1ed;
}

.title { 
  font-size: 150px;
  font-weight: 900;
  color: #2e2e2c;
  width: 1550px;
  margin: 0 auto;
}

.main {
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #7a7a78;
  border-radius: 70px;
  display: flex;
  align-items: center;
  gap: 50px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.wrap {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}

.button { 
  background-color: #eceae6;
  width: 700px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.button:hover {
  background-color: #2a2a29;
  color: #eceae6;
}

.buttonh1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 0px;
  color: #2e2e2c;
}

.buttonh1:hover{
  color: #eceae6;
}

.buttonh2 {
  font-size: 25px;
  margin-top: 10px;
  color: #72706c;
}

.popup {
  display: none;
  width: 500px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10%;
  left: 40%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  padding: 50px;
}



.watch {
  position: relative;
}

img {
  margin-left: 30px;
  width: 650px;
  height: auto;
  display: block;

}

.watch-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}

.time {
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 120px;
}

.week {
  font-size: 40px;
  margin-bottom: 0px;
}

.month {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.write {
  margin-left: 550px;
  margin-top: 20px;
  width: 250px;
  height: 60px;
  font-size: 25px;
  font-weight: 900;
  border-radius: 20px;
  background-color: #2a2a29;
  color: #f4f3f0;
  border: 0px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.write:hover {
  background-color: #f3f1ed;
  color: #2a2a29;
}

.memotitle {
  font-size: 50px;
}
.memoname {
  font-size: 20px;
  line-height: 2;
  
}

.memobutton{
  width: 150px;
  height: 45px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 20px;
  margin-top: 80px;
  background-color: #2a2a29;
  color: #f4f3f0;
  border: 0px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

label{
  font-size: 30px;
  font-weight: 900;
}

input{
  width: 350px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2a2a29;
  outline: none;
}